{% extends 'app/base.html' %}
{% block title %}Products by Category{% endblock %}

{% block content %}

<style>
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 2px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.filter-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 15px;
}

.filter-buttons a {
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 0.9rem;
    text-decoration: none;
    border: 1px solid #222;
    color: #222;
    transition: 0.2s ease;
}

.filter-buttons a:hover {
    background: #222;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
}

.card {
    background-color: #fff;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.info {
    padding: 2px;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px 0 5px;
}

.price {
    font-size: 1.1rem;
    font-weight: bold;
}

/* MOBILE */
@media screen and (max-width: 480px) {
    .filter-buttons {
        justify-content: center;
        flex-wrap: wrap;
        gap: 6px;
    }
    .product-image {
        height: 220px;
    }
    .product-title {
        font-size: 0.80rem;
    }
    .price {
        font-size: 0.9rem;
    }
}
</style>

<div class="container">

    <!-- CATEGORY FILTER BUTTONS -->
    <div class="filter-buttons">

        {# ACCESSORIES IS NOT INCLUDED BECAUSE VIEW EXCLUDES IT #}
        {% for c in categories %}
            <a href="?category={{ c.name }}">{{ c.name }}</a>
        {% endfor %}
    </div>

    <!-- PRODUCT LIST -->
    <div class="grid">
        {% if products %}
            {% for product in products %}
            <div class="card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image_url }}" class="product-image">
                </a>
                <div class="info">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <p class="price">₹ {{ product.price }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p style="text-align:center; font-size:1.1rem;">
                No products available for this category.
            </p>
        {% endif %}
    </div>

</div>

{% endblock %}
